CLIENT_ID=YOURS
CLIENT_SECRET=YOURS
42_AUTHORIZE_URL=https://api.intra.42.fr/oauth/authorize
42_TOKEN_URL=https://api.intra.42.fr/oauth/token
42_API_ME_URL=https://api.intra.42.fr/v2/me
FRONTEND_URL=http://localhost:8000/frontend
# fill this with your secret and copy it to .env